breeze-config/
cache/
themes/twentytwentyfive/
upgrade-temp-backup/
uploads/
wp-rocket-config/
.DS_Store
*.log

# Ignore all plugins by default
plugins/*
# But DO track these custom plugins:
!plugins/pointone-card-carousel/
!plugins/pointone-card-carousel/**
!plugins/pointone-site-alert-bar/
!plugins/pointone-site-alert-bar/**
# (add more exceptions below)
# !plugins/another-custom-plugin/
# Ignore WP cache drop-in created by cache plugins
advanced-cache.php
