/* 
===========================================================================================================
   RESET.CSS
   Description: Resets CSS for the entire site. Look at something like Normalize.css for inspiration.
==============================================================================================================
*/

/* .elementor .included-features,
.elementor .included-features * {
    font-family: var(--typography-font-secondary) !important;
    font-weight: var(--font-weight-400);
}

.elementor .e-con-full.e-parent {
    padding-left: 0;
    padding-right: 0;
} */
