/* 
==================================================
    BLOG-POST.CSS
    Description: Styles for blog post layout and spacing.

    TABLE OF CONTENTS:
    01. Blog Post Layout
    02. Blog Post Spacing

==================================================  
*/

.post .elementor-widget-text-editor h1,
.post .elementor-widget-text-editor h2 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.post .elementor-widget-text-editor h3,
.post .elementor-widget-text-editor h4 {
    padding-top: 0.75em !important;
    padding-bottom: 0.75em !important;
}

.post .elementor-widget-text-editor h5,
.post .elementor-widget-text-editor h6 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

/* CSS used to ensure the video player is sizing correctly within a post */
/* Fix Elementor Video widget height being overridden by YouTube IFrame API */
.elementor-widget-video .elementor-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.elementor-widget-video .elementor-wrapper iframe.elementor-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
